@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #161818;
  }
}

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
}

/* Hide scrollbar for Chrome, Safari and Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}